<p class="lead">Чуть меньше двух лет назад в голове вдруг появилась мысль "хочу мотоцикл".
    Здесь немного о мотоциклах в моей жизни.</p>
<div class="bikes-list"></div>
<div class="bikes-description"></div>
